-var listItem = ['ГЛАВНАЯ','О ФОРУМЕ','ОПЕРАТОР','УЧАСТНИКИ','ПРОГРАММА','СМИ','ПАРТНЕРЫ','ВЫСТАВКА','ГОСТИНИЦЫ','ПОДРЯДЧИКАМ','АРХИВ 2016','КОНТАКТЫ']

header.header
    .header__top-line
        .container
            .header__logo-wrap
                .logo
                    a(href="#").logo-link
                        img.logo-img(src="img/logo.svg", alt="")
                .communication
                    a.communication-tel(href="tel:+74956406547")
                        | +7 (495) 640 6547
                    .soc-lang-wrap
                        ul.soc-list
                            li.soc-item.fb
                                a(href="#")
                            li.soc-item.inst
                                a(href="#")
                            li.soc-item.tw
                                a(href="#")
                            li.soc-item.yt
                                a(href="#")
                        ul.lang-list
                            li.lang-item.rus
                                a(href="#")
                            li.lang-item.eng
                                a(href="#")
                        img.loupe(src="img/icons/search.svg", alt="")
                        .personal-cabinet
                            a(href="#").signUp
                                | Регистрация
                            a(href="#").signIn
                                | Личный кабинет
                    .menu-toggle
                        #nav-icon
                            span
                            span
                            span

    .header__nav-wrap
        .container
            ul.navigation-list
                span.close-btn-mnu
                each item in listItem
                    li.navigation-item
                        a(href="#").navigation-link= item
                        ul.sub-list
                            li
                                a
                                    | lorem
                            li
                                a
                                    | lorem
                            li
                                a
                                    | lorem
.header__popup-search
    .container
        .title Поиск
        form.search__form(action='/', method='get')
            input.search__input(type='text', placeholder='Поиск...', name='s')
            button.search__submit(type='submit') sdsd