.header {
    font-family: "geometriamedium";
    &__top-line {
        // min-height: 206px;
        color: #fff;
        background: url("../img/bg.png");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: cover;
        @include transition(.25s);
    }
    &__logo-wrap {
        @include clearfix;
        min-height: 150px;
        padding:  {
            top: 30px;
        }
    }
    .logo {
        float: left;
        &-link {
            // display: block;
            display: inline-block;
        }
        &-img {
            width: 364px;
            height: 83px;
        }
    }
    .communication {
        @include clearfix;
        float: right;
        position: relative;
        &-tel {
            font-size: 30px;
            display: block;
            margin-bottom: 8px;
            text-align: right;
        }
    }
}
.soc-lang-wrap {
    @include clearfix;
    position: relative;
    .soc-list {
        float: left;
        position: relative;
        z-index: 1;
        margin-right: 30px;
        .soc-item {
            background: url("../img/icons/socials.svg");
            opacity: .79;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-right: 2px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: block;
                width: 33px;
                height: 33px;
            }
            &:hover {
                opacity: 1;
            }
        }
        .fb {
            background-position: 0;
        }
        .inst {
            background-position: -36px;
        }
        .tw {
            background-position: -74px;
        }
        .yt {
            background-position: -111px;
        }
    }
    .lang-list {
        float: left;
        position: relative;
        z-index: 1;
        margin-top: 4px;
        margin-right: 60px;
        .lang-item {
            background: url("../img/icons/langs.png");
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 12px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: block;
                width: 38px;
                height: 25px;
            }
        }
        .rus {
            width: 38px;
            height: 25px;
            background-position: -70px -10px;
        }
        .eng {
            width: 40px;
            height: 25px;
            background-position: -10px -10px;
        }
    }
    .search {
        &-form {
            @include clearfix;
            position: relative;
            margin-bottom: 12px;
        }
        &-label {
            background-image: url("../img/icons/search.svg");
            background-repeat: no-repeat;
            background-size: cover;
            width: 28px;
            height: 30px;
            display: block;
            z-index: 3;
            position: relative;
            cursor: pointer;
            margin-top: -32px;
            float: right;
        }
        &-wrap {
            position: absolute;
            top: 0;
            visibility: hidden;
            right: 5px;
            .search-input {
                @include border-radius(5px);
                width: 0;
                border: none;
                padding: 10px;
                position: relative;
                top: -3px;
                right: 30px;
                -webkit-transition: .2s;
                        transition: .2s;
            }
            .search-btn {
                position: absolute;
                background: #0072bc;
                right: 31px;
                top: -2px;
                border-radius: 5px;
                padding: 9px;
                color: #fff;
            }
        }
    }
    .personal-cabinet {
        font-size: 14px;
        text-align: right;
        .signUp {
            position: relative;
            padding-left: 22px;
            margin-right: 30px;
            &:before {
                content: "";
                position: absolute;
                background: url(../img/icons/pen.svg);
                background-repeat: no-repeat;
                width: 18px;
                height: 20px;
                left: 0;
                top: 3px;
                transform: rotate(45deg);
            }
        }
        .signIn {
            position: relative;
            padding-left: 30px;

            &:before {
                content: "";
                position: absolute;
                background: url(../img/icons/door.svg);
                background-size: cover;
                width: 20px;
                height: 20px;
                top: -2px;
                left: 0;
            }
        }
    }
}
.vv {
    visibility: visible !important;
    z-index: 2;
}
.w320 {
    width: 320px !important;
}




.header__nav-wrap {
    color: #fff;
    font-size: 14px;
    background: #0d61a8;
    border-bottom: 8px solid #65bff1;
    text-align: center;
}
.navigation-list {
    .close-btn-mnu {
        display: none !important;
        cursor: pointer;
        position: relative;
        &:after {
            content: "\274c";
            position: absolute;
            font-size: 24px;
            right: 0;
            top: 0;
            line-height: 0;
        }
    }
}
.navigation-item {
    // float: left;
    display: inline-block;
    margin-left: -5px;
    &:first-child {
        margin-left: 0;
    }
}
.navigation-link {
    padding: 11px 18.3px;
    margin-bottom: -1px;
    display: block;
    @include transition(.35s);
    &:hover {
        background: #65bff1;
    }
}
.menu-toggle {
    display: none;
    position: absolute;
    right: -65px;
    top: 44px;
}
#nav-icon {
    width: 40px;
    height: 30px;
    position: relative;
    //   margin: 50px auto;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
       -moz-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
       -moz-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -2px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 27px;
    left: 8px;
}
@include breakpoint(1099px) {
    .header {
        .communication {
            margin-right: 70px;
        }
    }
    .menu-toggle {
        display: block;
    }
    .navigation-list {
        padding: 20px 0;
        position: fixed;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        background: rgba(48, 101, 139, .85);
        @include transition(.3s);
        z-index: 3;
        .navigation-item {
            margin: 0 auto;
            display: block !important;
            width: 70%;
        }
    }
}
.navigation--active {
    width: 100% !important;
    .close-btn-mnu {
        display: block !important;
        position: absolute;
        right: 15px;
        top: 30px;
        font-size: 55px;
    }
}
.dn {
    display: none;
}
.blur {
    filter: blur(10px);
}
