.wrapper {
	position: relative;
	transition: transform .5s ease;
}
.mainpage {
	background: {
		image: url('../img/bg.jpg');
		size: cover;
		repeat: no-repeat;
	}
	.container {
		padding: {
			top: 95px;
			bottom: 88px;
		}
		position: relative;
	}
	.news {
		position: absolute;
		z-index: 2;
		right: 15px;
		top: 72px;
		line-height: 1;
		display: none;
		text-transform: uppercase;
		font-size: 27.5px;
		color: $blue;
		font-family: "geometriamedium";
		span {
			vertical-align: middle;
		}
		&:before {
			content: '';
			display: inline-block;
			width: 88px;
			height: 88px;
			margin-right: 24px;
			vertical-align: middle;
			background: {
				image: url('../img/icons/news.svg');
				size: cover;
			}
		}
	}
	.roscong {
		position: absolute;
		display: block;
		bottom: 25px;
	    right: 225px;
	}
}
.home-wrapper {
	color: $blue;
	font-family: "geometriamedium";
	width: 1180px;
	margin: 0 auto;
	.container {
		display: inline-block;
		padding: 0 !important;
		max-width: 1100px;
	}
	.date {
		width: 50%;
		margin-bottom: 20px;
		font-size: 32px;
		text-transform: uppercase;
		color: $blue;
		span {
			margin-right: 0.2em;
			font-size: 47px;
		}
	}
	.title {
		text-transform: uppercase;
		font-size: 70px;
		margin-bottom: 10px;
	}
	.note {
		color: $blue;
		font-size: 36px;
		margin-bottom: 45px;
		position: relative;
		p {
			margin-right: 250px;
		}
		.more {
			position: absolute;
			top: 0;
			right: 0;
			margin-top: 20px;
			margin-right: -20px;
			@include btn-blue;
			@include t25;
			font-size: 24px;
			padding: 18px 35px;
		}
	}
	.links-block {
		margin-bottom: 40px;
		.link-item {
			display: inline-block;
			margin-left: 80px;
			font-family: 'geometriabold';
			font-size: 27px;
			color: $blue;
			&:before {
				display: inline-block;
				content: '';
				width: 84px;
				height: 84px;
				margin-right: 17px;
				vertical-align: middle;
				background-size: cover;
				@include t25;
			}
			&:hover {
				&:before {
					transform: scale(1.1);
				}
			}
			span {
				vertical-align: middle;
				width: 175px;
				display: inline-block;
			}
		}
		.link-item:nth-of-type(1) {
			margin-left: 0;
		}
		.program {
			&:before {
				background-image: url("../img/icons/program.svg");
			}
		}
		.archive {
			&:before {
				background-image: url("../img/icons/archive.svg");
			}
		}
	}
	.partners {
		width: 650px;
		height: 224px;
		padding: 30px 62px 45px 40px;
		background-color: rgba(255,255,255,0.58);

		.partners-title {
			display: block;
			font-family: 'geometriamedium';
			font-size: 25px;
			color: $blue;
			margin-bottom: 25px;
		}
		.slider-wrapper {
			@include clearfix;
			padding: 0 40px;
			position: relative;
		}
		.partners-prev,
		.partners-next {
			position: absolute;
			top: 50%;
			margin-top: -18px;
			text-indent: -9999px;
			overflow: hidden;
			width: 18px;
			height: 37px;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url('../img/sliders/arrow-home-slider.svg');
		}
		.partners-prev {
			left: 0;
		}
		.partners-next {
			right: 0;
			transform: rotate(180deg);
		}
		.partners-slider {

			.slide-wrap {
				display: inline-block;
				width: 120px;
				height: 80px;
				text-align: center;
				&:before{
					content: '';
					display: inline-block;
					height: 80px;
					width: 0px;
					vertical-align: middle;
				}
				img{
					display: inline-block;
					max-width: 100%;
					max-height: 100%;
					vertical-align: middle;
				}
			}
		}
	}
}

//* ВЫСОТА *//
@include hbreakpoint(740) {
	.home-wrapper .title {
		font-size: 47px;
	}
}

//* ШИРИНА  *//
@include breakpoint(1600) {
	.mainpage {
		.news {
			display: block;
		}
		.roscong {
			position: absolute;
			display: block;
			bottom: 25px;
		    right: 225px;
			right: 15px;
		}
	}
}
@include breakpoint(1200) {
	.home-wrapper {
		width: 100%;
		.title {
			font-size: 47px;
		}
		.note {
			font-size: 27px;
			.more {
				margin-top: 0;
			}
		}
	}
}
@include breakpoint(900) {
	.home-wrapper {
		.title {
		}
		.note {
			.more {
				margin-right: 0;
			}
		}
		.links-block {
			.link-item {
				&:before {
					width: 60px;
					height: 60px;
				}
			}
		}
	}
	.mainpage {
		.news{
			top: 94px;
			&:before {
				margin-right: 0;
				width: 60px;
				height: 60px;
			}
		}
	}
}
@include breakpoint(768) {
	.home-wrapper {
		.container {
			display: block;
		}
		.title {
		}
		.links-block .link-item {
			margin-left: 0;
			span {
				display: none;
			}
		}
		.note {
			.more {
				margin-right: 0;
				padding: 12px 30px;
			}

		}
		.date {
			font-size: 24px;
			width: 70%;
			span {
				font-size: 32px;
			}
		}
		.title {
			font-size: 32px;
		}
		.note {
			font-size: 20px;
			margin-bottom: 25px;
			.more {
				font-size: 20px;
			}
		}
		.partners .partners-title {
			font-size: 20px;
		}
	}
	.mainpage {
		.news {
			span {
				display: none;
			}
		}
	}

}
@include breakpoint(700) {
	.home-wrapper {
		.partners  {
			width: 100%;
			padding: 30px 40px 30px 40px;
			height: auto;
		}
		.note {
			@include clearfix;
			p {
				margin-right: 0;
			}
			.more {
				margin-top: 10px;
				position: relative;
				float: right;
			}
		}
	}
}

@include breakpoint(480) {
	.home-wrapper {
		.links-block {
			margin-bottom: 25px;
		}
		.links-block .link-item {
			margin-left: 0;
			span {
				display: none;
			}
			&:before {
				width: 44px;
				height: 44px;
			}
		}
		.date {
			font-size: 18px;
			width: 70%;
			span {
				font-size: 20px;
			}
		}
		.title {
			font-size: 22px;
		}
		.note {
			font-size: 18px;
			margin-bottom: 15px;
			.more {
				font-size: 16px;
				padding: 12px 30px;
			}
		}
		.partners .partners-title {
			margin-bottom: 15px;
			font-size: 16px;
		}
	}
	.mainpage {
		.container {
			padding-top: 50px;
		}
		.news{
			top: 40px;
			&:before {
				width: 44px;
				height: 44px;
			}
		}
	}

}
@include breakpoint(380) {
	.home-wrapper {
		.partners {
			padding: 15px;
			.partners-title {
				margin-bottom: 10px;
			}
		}
	}
}
// новости
.news-side {
	z-index: 2;
	position: absolute;
	right: 0;
	overflow: hidden;
	top: 0;
	bottom: 0;
	height: 100%;
	max-height: 100%;
	padding-top: 205px;
	padding-bottom: 60px;
	width: 300px;
	overflow-y: scroll;
	&:before{
		content: '';
		background-color: rgba(255,255,255,0.58);
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		margin-top: 205px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.close-news {
		cursor: pointer;
		font-size: 0;
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 40px;
		height: 40px;
		span {
			display: block;
			width: 40px;
			background-color: $blue;
			height: 5px;
			position: relative;
			&:nth-of-type(1){
				top: 15px;
				transform: rotate(45deg);
			}
			&:nth-of-type(2){
				top: 11px;
				transform: rotate(-45deg);
			}
		}
	}
	.news__list {
		margin-bottom: 1em;
		.news__item {
			padding: 16px 20px;
			@include t25;
			&:hover {
				background: rgba(0,73,127,.2);
				.news__link {
					font-weight: 600;
				}
			}
		}
		.news__date {
		    color: #999;
		    margin-bottom: .7em;
		}
		.news__link {
			color: $blue;
		}
	}
	.news-summary {
		text-align: center;
	}
	.all-news-link {
		@include btn-blue;
	    padding: .5em 1em;
	}
}

@include breakpoint(1600) {
	.news-side {
		display: none;
	}
	.news-side {
		position: fixed;
		height: 100%;
		padding-bottom: 0;
		&:before{
			margin-top: 0;
			background-color: hsla(177, 73%, 98%, 0.58);
		}
	}
	.wrapper.aside-active {
		overflow: visible;
	}
	.aside-active {
		transform: translateX(-300px);

		.news-side {
			display: block !important;
			transform: translateX(300px);
			padding-top: 0px;
		}
	}
}
@include breakpoint(480) {
	.news__list {
		.news__item:nth-of-type(1) {
			padding-right: 65px
		}
	}
	.news-side {
	    width: 100%;
	}
	.aside-active {
		transform: translateX(-100%);
		.news-side{
		    transform: translateX(100%);
		}
	}
}